@font-face {
  font-family: "icomoon";
  src: url("./icons/fonts/icomoon.eot?e9xexs");
  src: url("./icons/fonts/icomoon.eot?e9xexs#iefix") format("embedded-opentype"),
    url("./icons/fonts/icomoon.ttf?e9xexs") format("truetype"),
    url("./icons/fonts/icomoon.woff?e9xexs") format("woff"),
    url("./icons/fonts/icomoon.svg?e9xexs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-gears:before {
  content: "\e900";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin2:before {
  content: "\e9ad";
}
